# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_test_Veh47H8uKDf9dnKNpb41FBhv00WG2tHs2n
STRIPE_SECRET_KEY=sk_test_386xMDoIJRHEvE7lOILDt0Cy004wLd4Y4h

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234

STATIC_DIR=../../client/html

# Create a Price on Stripe using the Dashboard or API
PRICE=price_HHNV2YHUdJQBNt
DOMAIN=http://localhost:4242
# DOMAIN="http://localhost:3000" # When using the React client

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHODS="card"
# PAYMENT_METHODS="card, ideal" # Requires CURRENCY=eur
# PAYMENT_METHODS="card, fpx" # Requires CURRENCY=myr
